<nav class="bg-dark navbar-dark">
  </nav>
  <section id="header" class="text-center mb-5">
     <h1 class="display-333">RESTAURANTS</h1>
  </section>

<div class="container">
    <div class="grid-3">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="card card-has-bg card-restaurant mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= restaurant.photo_url %>)">
                <div class="card-img-overlay menu-card d-flex flex-column">
                  <div class="card-body card-restaurant-body">
                    <h2><%= restaurant.name %></h2> <br>
                    <h6><i class="far fa-star"></i> <%= restaurant.rating %></h6>
                    <h6><i class="fas fa-location-arrow"></i> <%= restaurant.location %></h6>
                    <h6><i class="fas fa-globe-africa"></i> <%= restaurant.speciality %></h6>

                  </div>

                </div>

          </div>
          <% end %>
    <% end %>

   </div>
</div>
