<nav class="bg-dark navbar-dark">
  </nav>
  <section id="header" class="jumbotron text-center" style="background-image" linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),>
     <h1 class="display-3">RESTAURANTS</h1>
  </section>

<div class="container">
    <div class="grid-3">
      <% @restaurants.each do |restaurant| %>
          <div class="card card-has-bg card-restaurant" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= restaurant.photo_url %>)">
                <img class="card-img d-none" src="<%= restaurant.photo_url %>" alt="" class="card-img-top">
                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                    <h2><%= restaurant.name %></h2> <br>
                    <h6><i class="far fa-star"></i> <%= restaurant.rating %></h6><br>
                    <h6><i class="fas fa-location-arrow"></i> <%= restaurant.location %></h6><br>
                    <h6>Speciality: <%= restaurant.speciality %></h6><br>
                    <%= link_to 'MENU', restaurant_path(restaurant), class: 'btn chef-btn btn-lg btn-block js-scroll-trigger btn-menu'%>
                  </div>
                </div>
          </div>
    <% end %>
   </div>
</div>
