<h2 class="restaurant-list">RESTAURANT'S LIST</h2>
<p class="restaurant-list"> Choose a restaurant to view more details for booking</p>
<br>



  <div class="container">

    <div class="grid-3">
      <% @restaurants.each do |restaurant| %>

          <div class="card text-black card-has-bg click-col" style="background-image:url(<%= restaurant.photo_url %>);">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">


                <div class="card-img-overlay d-flex flex-column">
                  <div class="card-body">
                       <img src="<%= restaurant.photo_url %>" alt="">
                      <h2><%= restaurant.name %></h2> <br>
                      <h6>Rating: <%= restaurant.rating %></h6><br>
                      <h6>Speciality: <%= restaurant.speciality %></h6><br>
                      <h6>Location: <%= restaurant.location %></h6><br>
                      <h6>Capacity: <%= restaurant.capacity %> persons</h6><br>

                     <%= link_to 'MENU', restaurant_path(restaurant), class: 'btn chef-btn js-scroll-trigger'%>
                  </div>
                </div>
            </div>

      <% end %>
    </div>
  </div>
