<nav class="bg-dark navbar-dark">
  </nav>
  <section id="header-restaurant-1" class="jumbotron text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= @restaurant.photo_url %>)">
     <h1 class="display-3"><%#= @restaurant.name.upcase'S MENU</h1> %>
  </section>
  <section id="header-restaurant-1" class="jumbotron text-center header-restaurant">
     <h1 class="display-3"><%= @restaurant.name.upcase %>'S MENU</h1>
     <h4 class="display-3"><i class="far fa-star"></i> <%= @restaurant.rating %></h4>
     <h4 class="display-3"><i class="fas fa-location-arrow"></i> <%= @restaurant.location %></h4>
  </section>

<section id="gallery">
  <div class="container">
    <div class="row">
    <% @food_items.each do |food_item| %>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="#" alt="" class="card-img-top">

          <div class="card-body">

              <h2><%= food_item.name %></h2> <br>
                          <h6><i class="far fa-star"></i> <%= food_item.rating %></h6><br>
                          <h6>Description: <%= food_item.description %></h6><br>
                          <h6><i class="fas fa-utensils"></i> <%= food_item.category %></h6><br>
                          <h6><i class="fas fa-money-bill-alt"></i> <%= food_item.price %> TL</h6><br>


                        <%#= link_to 'MENU', restaurant_path(restaurant), class: 'btn chef-btn btn-lg btn-block js-scroll-trigger'%>
          </div>

          <%= simple_form_for [@restaurant, @order_item] do |f| %>
            <%= f.input :food_item_id, as: :hidden, input_html: { value: "#{food_item.id}" } %>
            <%= f.submit "Add Item", class: 'btn chef-btn btn-lg btn-block js-scroll-trigger btn-add-item'%>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
